.answer-input {
    height: 110px;
    /* field-sizing: content; */
}

#card-form {
    width: clamp(255px, 95%, 850px);
    font-size: clamp(1rem, 1.2vw, 2rem);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.123);
}

#save-btn {
    background-color: var(--primary);
    color: white;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    border: none;
    padding: .7rem 1rem;
}

#save-btn:hover {
    background-color: var(--shade-primary);
}